/* stylelint-disable scss/at-rule-no-unknown */
/* stylelint-disable property-no-unknown */
.neo-dialog {
  --padding: var(--gap-sm);
  padding: 0;
  border: 0;
  box-shadow: var(--shadow-lg);
  inline-size: 100%;
  max-inline-size: var(--max-width);
  max-block-size: 100%;
  overflow-x: hidden;
  &:not(.has-backdrop)::backdrop {
    opacity: 0;
  }
  &:is(.has-animation-fade, .has-animation-slide) {
    transition-duration: var(--animation-speed);
    transition-behavior: allow-discrete;
    &::backdrop {
      transition: backdrop-filter var(--animation-speed), background var(--animation-speed);
    }
  }
  &.has-animation-fade {
    opacity: 0;
    transition-property: display, overlay, opacity;
    &[open] {
      opacity: 1;
      @starting-style {
        opacity: 0;
      }
    }
  }
  &.has-animation-slide.is-modal {
    translate: 0 50%;
    opacity: 0;
    transition-property: translate, display, overlay, opacity;
    &[open] {
      translate: 0;
      opacity: 1;
      @starting-style {
        translate: 0 -50%;
        opacity: 0;
      }
    }
  }
  &.has-animation-slide:is(.is-offcanvas-left, .is-offcanvas-right) {
    transition-property: translate, display, overlay;
    translate: var(--translate);
    &[open] {
      translate: 0;
      @starting-style {
        translate: var(--translate);
      }
    }
  }
  &.has-animation-slide.is-drawer {
    translate: 0 100%;
    opacity: 0;
    transition-property: translate, display, overlay, opacity;
    &[open] {
      translate: 0;
      opacity: 1;
      @starting-style {
        translate: 0 100%;
        opacity: 0;
      }
    }
  }
  &-content {
    padding: var(--padding);
    min-block-size: 100%;
  }
  &.is-modal {
    --max-width: #{rem(500px)};
    border-radius: 0.5rem;
  }
  &:is(.is-offcanvas-left, .is-offcanvas-right) {
    --max-width: #{rem(390px)};
    height: 100dvh;
    margin: 0;
  }
  &.is-offcanvas-left {
    --translate: -100%;
  }
  &.is-offcanvas-right {
    --translate: 100%;
    inset: 0 0 auto auto;
  }
  &.is-drawer {
    --translate: 0 -100%;
    inset: auto auto 0 0;
    border-top-left-radius: var(--border-radius-md);
    border-top-right-radius: var(--border-radius-md);
  }
  &.is-drawer::after {
    position: absolute;
    inset: var(--gap-xs) auto auto 50%;
    translate: -50% 0;
    content: "";
    background: var(--gray500);
    block-size: rem(4px);
    inline-size: rem(32px);
    border-radius: var(--ui-pill-radius);
  }
  &[open]::backdrop {
    backdrop-filter: blur(2px);
    background: rgba(0, 0, 0, 0.35);
    @starting-style {
      backdrop-filter: blur(0);
      background: rgba(0, 0, 0, 0);
    }
  }
  &-close {
    position: absolute;
    inset: calc(var(--padding) * 0.5) calc(var(--padding) * 0.5) auto auto;
  }
  &-close-wrapper.is-sticky {
    position: sticky;
    inset: 0 0 auto auto;
    z-index: 1;
  }
}
