.alert-banners {
  --max-width: #{rem(1199px)};
  display: block;
  color: var(--white);
  overflow: hidden;
  z-index: 9999;
  // Page with sidebar and large screen
  @at-root body.has-sidebar .alert-banners.is-top {
    inset: 0 0 auto;
    margin-inline: var(--gap-sm);
    @include deviceMin(tabletSmallMax) {
      inset: 0 0 auto calc(var(--side-bar-width) + var(--side-bar-gap));
      margin-inline: 0 var(--container-inline-end-padding);
    }
  }
  // Page with no sidebar
  @at-root body:not(.has-sidebar) .alert-banners.is-top {
    inset: 0 var(--gap-sm) auto var(--gap-sm);
    margin-inline: auto;
    inline-size: calc(100% - calc(var(--gap-sm) * 2));
    max-inline-size: var(--max-width);
  }
  @at-root body:not(.has-sidebar) .alert-banners.is-bottom {
    inline-size: 100%;
  }
  :where(a, button) {
    @include type-scale("body-1");
    color: var(--white);
    text-decoration: underline;
    padding: 0;
    background: none;
    border: 0;
    appearance: none;
  }
  &.is-top {
    position: fixed;
    border-bottom-right-radius: var(--border-radius-sm);
    border-bottom-left-radius: var(--border-radius-sm);
    box-shadow: var(--shadow-md);
  }
  &.is-bottom {
    position: sticky;
    inset: auto 0 0;
    box-shadow: var(--shadow-md-inverted);
  }
  &.is-bottom .alert-banners--content {
    max-inline-size: var(--max-width);
  }
  &--item:not(:last-of-type) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }
  &--content {
    padding: var(--gap-sm) var(--gap-md);
    margin-inline: auto;
    @include deviceMin(mobileMax) {
      display: grid;
      grid-template-columns: 1fr max-content;
      align-items: center;
    }
  }
  &--controls {
    display: flex;
    gap: var(--gap-sm);
    align-items: flex-start;
    @include deviceMax(mobileMax) {
      margin-block-start: var(--gap-sm);
      padding-block-start: var(--gap-sm);
      border-block-start: 1px solid var(--white);
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
      text-decoration: underline;
    }
  }
  &--message > *:first-child {
    margin-block-start: 0;
  }
  &--message > *:last-child {
    margin-block-end: 0;
  }
  &--message {
    @include type-scale("body-1");
  }
}
